@import './src/css/variables';

.headerContainer{
  height: $header-height;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;

   svg {
    display: block;
    width: 100%; height: 100%;
  }

  .headerHeight {
    height: 70px;
  }

  .fullHeight {
    height: 100%;
  }

  .tab {
    border-bottom: 3px solid rgba(255, 218, 82, 0);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      border-bottom: 3px solid rgba(255, 114, 82, 0.47);
    }

    &.active {
      border-bottom: 3px solid rgb(255, 114, 82);
    }
  }
}
